* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Varela Round', sans-serif;
}

/* NotFound */

.not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  color: rgba(0, 0, 0, 0.7);
}

.not-found h2 {
  font-size: 3rem;
}

.not-found p {
  font-size: 1.5rem;
}
